<h1>Welcome To Approve</h1>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('#liaCreateAirLine').css('display', 'block');
    $('#liairlineList').css('display', 'block');
</script>
